<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sinusgear.iot.lampapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Required for MQTT Client -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/lightbulbicon" android:theme="@style/AppTheme">

        <activity android:name="com.sinusgear.iot.lampapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.sinusgear.iot.lampapp.LampWidgetProvider"
            android:icon="@drawable/lightbulbicon"
            android:label="Lamp Widget"
            >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.sinusgear.iot.lampapp.LampMqttService.MQTT_RECEIVED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/lamp_widget_info" />
        </receiver>


        <service android:name="com.sinusgear.iot.lampapp.LampMqttService" >
        </service>
        <service android:name="org.eclipse.paho.android.service.MqttService">
        </service>


    </application>

</manifest>
